.App
{
  text-align: center;
}

.App-logo
{
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference)
{
  .App-logo
  {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header
{
  /* background-color: #282c34; */
  background-image: url("https://wallpaperaccess.com/full/5694159.jpg");
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 1000px;
}

.App-link
{
  color: #61dafb;
}

@keyframes App-logo-spin
{
  from
  {
    transform: rotate(0deg);
  }

  to
  {
    transform: rotate(360deg);
  }
}

/* Paleta de colores */
/* https://www.color-hex.com/color-palette/1012536 */

/* https://colormagic.app/es/palette/6734cfcadd671510623ca750 */

#navbar
{
  background-color: #0b4553;
  color: white;
}


#container_Game
{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  column-gap: 50px;
  justify-content: center;
}

@media (max-width: 1200px)
{
  #container_Game
  {
    grid-template-columns: 1fr;
  }
}

.backgroundBlack
{
  background-color: #453a36;
}


#board
{
  display: grid;
  justify-content: center;
  gap: 3px;
  background-color: #a3a9ae;

}

.cell
{
  width: 50px;
  height: 50px;
  background-color: #ff6d1f;
  border: black 1px solid;
  color: rgb(208, 255, 0);
  font-weight: 400;
}

.cell.pulsado
{
  background-color: #ffa047;
}


#Top_Scores
{
  background-color: #ffebb8;

}

.ScoreItem
{
  background-color: #ffa047;
}